# originally downloaded datasets from: (both contain the same csv)
## https://www.kaggle.com/c/pkdd-15-predict-taxi-service-trajectory-i/data
## https://www.kaggle.com/c/pkdd-15-taxi-trip-time-prediction-ii
*.zip
train.csv

# clusters as received from the SMART pipeline
clusters/

# time slices as created by the SMART pipeline
timeslices/
## This folder contains the old time slices, where empty clusters were not added to the slices.
timeslices_old/ 

# calculated metrics for the clusters from the notebook
metrics/
metrics_*/

# calculated metrics for the layers from the notebook
layer_metrics/
layer_metrics_old/